# Kaggle Dataset

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('/Users/mikel/Documents/week3/Proyecto_ETL/coin_Bitcoin.csv')

In [3]:
#Nulls check
nan_cols=df.isna().sum()

nan_cols[nan_cols>0]

#YAY!

Series([], dtype: int64)

In [4]:
#Borro columnas que no aportan valor en este caso
del df['SNo']
del df['Volume']
del df['Marketcap']

In [5]:
del df['Name']
del df['Symbol']

In [6]:
df['Date'] = df['Date'].str.rstrip('23:59:59')

In [7]:
df.Date=df.Date.astype(dtype='datetime64[ns]')

In [8]:
#Redondeo decimales para mejor lectura
df['High']=df['High'].round(decimals=2)
df['Low']=df['Low'].round(decimals=2)
df['Open']=df['Open'].round(decimals=2)
df['Close']=df['Close'].round(decimals=2)

In [9]:
df.head()

        Date    High     Low    Open   Close
0 2013-04-29  147.49  134.00  134.44  144.54
1 2013-04-30  146.93  134.05  144.00  139.00
2 2013-05-01  139.89  107.72  139.00  116.99
3 2013-05-02  125.60   92.28  116.38  105.21
4 2013-05-03  108.13   79.10  106.25   97.75

# Coinbase Pro API

In [10]:
from Historic_Crypto import HistoricalData

df2 = HistoricalData('BTC-USD',86400,'2021-02-28-00-00').retrieve_data()

Checking input parameters are in the correct format...
Formatting Dates...
Checking if ticker supplied is available on the CoinBase Pro API...
Connected to the CoinBase Pro API...
Ticker 'BTC-USD' found at the CoinBase Pro API, continuing to extraction...
Data Extracted from API...

In [11]:
df2

                 low      high      open     close        volume
time
2021-02-28  43016.00  46656.00  46169.92  45231.75  22745.606002
2021-03-01  45042.13  49829.00  45231.74  49639.40  25068.250437
2021-03-02  47075.11  50250.00  49635.30  48511.60  17063.563020
2021-03-03  48161.75  52666.00  48502.18  50360.00  21301.477239
2021-03-04  47502.00  51798.33  50370.33  48368.52  23386.979576
...              ...       ...       ...       ...           ...
2021-05-13  46000.00  52500.00  49498.76  49690.11  42250.087408
2021-05-14  48895.00  51569.56  49682.28  49893.48  21987.793624
2021-05-15  46573.00  50730.58  49893.48  46775.51  21936.114547
2021-05-16  43825.00  49808.28  46771.01  46450.79  30655.330647
2021-05-17  42101.00  46646.15  46450.78  43207.15  35078.228708

[79 rows x 5 columns]

In [12]:
#Reseteo el index porque me había cogido time como axis
df2.reset_index(inplace=True)

In [13]:
#renombramos columnas para que no haya drama luego
df2 = df2.rename(columns={'time':'Date', 'low': 'Low','high': 'High', 'open': 'Open', 'close': 'Close' })

In [14]:
#borro la columna que no me da info relevante para lo que quiero
del df2['volume']

In [15]:
#Reordeno columnas
column_names = ["Date", "High", "Low", "Open", "Close"]

df2 = df2.reindex(columns=column_names)

In [16]:
df2.head()

        Date      High       Low      Open     Close
0 2021-02-28  46656.00  43016.00  46169.92  45231.75
1 2021-03-01  49829.00  45042.13  45231.74  49639.40
2 2021-03-02  50250.00  47075.11  49635.30  48511.60
3 2021-03-03  52666.00  48161.75  48502.18  50360.00
4 2021-03-04  51798.33  47502.00  50370.33  48368.52

# API Twitter

In [17]:
import tweepy
import csv

In [18]:
f=open("/Users/mikel/Documents/week3/Proyecto_ETL/twitter_keys.txt","rb")
lines=f.readlines()
consumer_key=lines[0]
consumer_secret=lines[1]
access_key=lines[2]
access_secret=lines[3]
f.close()

In [51]:
consumer_key='hvicONy4ywTet4urtfkO8P4Oh'
consumer_secret='EQGxQ3D96KaLt84f1QWqqz9kHzJiHHWjD932HJvtksv2qfKX7P'
access_key='1144930963111206912-BiaqX2ljEEP302g1NsMhdEYASn3Ru1'
access_secret='nvlJvQBzgQnYcPW4Mo4gNDUEXToQLI1luSPpMsnalRQzz'

In [52]:
def get_all_tweets(screen_name):
    #Twitter only allows access to a users most recent 3240 tweets with this method
    #read csv
    with open('/Users/mikel/Documents/week3/Proyecto_ETL/new_elonmusk_tweets.csv', 'r') as elonmusk:
        elon_tweets=list(csv.reader(elonmusk))
    
    alltweets=[]
    
    #authorize twitter, initialize tweepy
    auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
    auth.set_access_token(access_key, access_secret)
    api = tweepy.API(auth)
    
    #make initial request for most recent tweets (200 is the maximum allowed count)
    new_tweets = api.user_timeline(screen_name = screen_name,count=200)
    
    #save most recent tweets
    alltweets.extend(new_tweets)
    
    #save the id of the oldest tweet less one
    oldest = alltweets[-1].id - 1
    
    #keep grabbing tweets until there are no tweets left to grab
    while len(new_tweets) > 0:
        print(f"getting tweets before {oldest}")
        
        #all subsiquent requests use the max_id param to prevent duplicates
        new_tweets = api.user_timeline(screen_name = screen_name,count=200,max_id=oldest)
        
        #save most recent tweets
        alltweets.extend(new_tweets)
        
        #update the id of the oldest tweet less one
        oldest = alltweets[-1].id - 1

        print(f"...{len(alltweets)} tweets downloaded so far")
    
    #transform the tweepy tweets into a 2D array that will populate the csv 
    outtweets = [[tweet.id_str, tweet.created_at, tweet.text] for tweet in alltweets]
    elon_tweets+=outtweets
    
    #write the csv  
    with open('/Users/mikel/Documents/week3/Proyecto_ETL/new_elonmusk_tweets.csv', 'w') as f:
        writer = csv.writer(f)
        writer.writerow(["id","created_at","text"])
        writer.writerows(elon_tweets)
    pass

In [57]:
get_all_tweets('elonmusk')

getting tweets before 1384716322756386818
...200 tweets downloaded so far

In [58]:
df_elon=pd.read_csv('/Users/mikel/Documents/week3/Proyecto_ETL/new_elonmusk_tweets.csv')

In [59]:
df_elon=df_elon.drop_duplicates(keep='first')

In [60]:
del df_elon['id']

In [61]:
df_elon=df_elon.dropna()

In [62]:
df_elon.head()

             created_at                                               text
0            created_at                                               text
23  2021-05-14 05:58:35  @DJSnM We need to make sure ship won’t break u...
24  2021-05-14 04:42:32     @teslaownersSV 3/4 of the way around the Earth
25  2021-05-13 23:30:52                  As always https://t.co/gtFmtokzEZ
26  2021-05-13 23:11:48  @SpaceNews_Inc @googlecloud Locating ground st...

In [63]:
#No lo pongo en minúsculas para no perder legibilidad en el tweet
crypto_topics_lst = ['bitcoin', 'Bitcoin', 'crypto', 'Crypto', 'Blockchain', 
                     'blockchain', 'Regulation', 'Doge', 'doge', 'Ethereum', 
                     'ethereum', 'Money', 'money', 'Currency', 'currency', 
                     'Tax', 'tax', 'Coin', 'coin', 'HOLD', 'hld', 'System', 
                     'system', 'Variation', 'variation', 'DeFi', 'ETF', 'defi']

new_lst=[]
        
for i in df_elon['text']:
    new_lst.append(any(ele in i for ele in crypto_topics_lst))

In [64]:
df_elon['boolean']=new_lst

In [65]:
#Elimino una fila que se me había colado
df_elon=df_elon[~df_elon.created_at.str.contains("created_at")]

In [66]:
#renombramos columnas para que no haya drama luego
df_elon = df_elon.rename(columns={'created_at':'Date', 'text': 'Tweet','boolean': 'Elon_tweet'})

In [67]:
df_elon.head()

,Date,Tweet,Elon_tweet
23,2021-05-14 05:58:35,@DJSnM We need to make sure ship won’t break u...,False
24,2021-05-14 04:42:32,@teslaownersSV 3/4 of the way around the Earth,False
25,2021-05-13 23:30:52,As always https://t.co/gtFmtokzEZ,False
26,2021-05-13 23:11:48,@SpaceNews_Inc @googlecloud Locating ground st...,False
27,2021-05-13 22:45:16,Working with Doge devs to improve system trans...,True

In [68]:
len(df_elon.Date[32])

19

In [69]:
df_elon['Date']=df_elon['Date'].str[:10]

In [70]:
#reiniciar index
df_elon=df_elon.reset_index(drop=True)

In [71]:
df_elon_true=df_elon.loc[df_elon['Elon_tweet'] == True]

In [72]:
df_elon_true.head()

          Date                                              Tweet  Elon_tweet
4   2021-05-13  Working with Doge devs to improve system trans...        True
6   2021-05-13  To be clear, I strongly believe in crypto, but...        True
7   2021-05-13            It is high time there was a carbon tax!        True
10  2021-05-12        Tesla &amp; Bitcoin https://t.co/YSswJmVZhP        True
20  2021-05-11                  Do you want Tesla to accept Doge?        True

In [73]:
df_elon_true=df_elon_true.drop_duplicates()

In [74]:
df_elon_true.count()

Date          86
Tweet         86
Elon_tweet    86
dtype: int64

# Table Fusion

In [38]:
df.dtypes

Date     datetime64[ns]
High            float64
Low             float64
Open            float64
Close           float64
dtype: object

In [39]:
df2.dtypes

Date     datetime64[ns]
High            float64
Low             float64
Open            float64
Close           float64
dtype: object

In [40]:
df_elon.dtypes

Date          object
Tweet         object
Elon_tweet      bool
dtype: object

In [41]:
#Añado valores del dataframe 2 al 1, hago append porque filtrado por fechas son excluyentes
df_final=df.append(df2, ignore_index=True)

In [42]:
df_elon_true.Date=df_elon_true.Date.astype(dtype='datetime64[ns]')

In [43]:
df_elon_true.Tweet=df_elon_true.Tweet.astype(dtype='object')

In [44]:
#Hago el merge con la tabla de elon
df_final=pd.merge(df_final, df_elon_true, 'left', left_on='Date', right_on='Date')

In [45]:
#Solo quiero un registro por dia, por lo que quito los registros en los que ha twitteado mas de una vez
df_final=df_final.drop_duplicates(subset='Date', keep="last")

# Tabla SQL

In [46]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)   # para visualizar todas las columnas del df
#pd.set_option('display.max_rows', None)   # para visualizar todas las filas del df

import mysql.connector as conn

import time

In [47]:
def crear_db(nombre, user='root', password='<M1kel*>', check=True, auth_plugin='mysql_native_password'):
    
    crea_db=conn.connect(host='localhost', user=user, passwd=password)

    cursor=crea_db.cursor()

    cursor.execute(f'drop database if exists {nombre}')
    cursor.execute(f'create database {nombre}')
    
    print('Hecho, base de datos creada. ;)')
    
    if check:
        cursor.execute('show databases')
        for x in cursor:
            print(x)

In [48]:
crear_db('btc_historic')

NotSupportedError: Authentication plugin 'caching_sha2_password' is not supported

In [ ]:
def crear_tabla_desde_df(df, nombre_tabla, nombre_db, user='root', password='<M1kel*>', check=True, drop=False):
    
    db=conn.connect(host='localhost', user=user, passwd=password, database=nombre_db)
    cursor=db.cursor()
    
    if drop:
        cursor.execute(f'drop table if exists {nombre_tabla}')
    
    tabla=f"create table {nombre_tabla}(id int, {' varchar(200),'.join(df.columns)} varchar(200));"
    print(tabla)
    
    cursor.execute(tabla)
    
    print(f'Hecho, tabla {nombre_tabla} creada. ;)')
    
    if check:
        cursor.execute('show tables')
        for x in cursor:
            print(x)

In [ ]:
def insertar_datos(df, nombre_tabla, nombre_db, user='root', password='password', check=True):
    
    db=conn.connect(host='localhost', user=user, passwd=password, database=nombre_db)
    cursor=db.cursor()
    
    for i in range(len(df)):
    
        insert_query='insert into {} (id, {}) values {};'\
                     .format(nombre_tabla, ','.join(df.columns), tuple(np.insert(df.iloc[i].values, 0, i)))

        cursor.execute(insert_query)

    db.commit()
    
    print(f'Hecho, datos dentro de tabla {nombre_tabla}. ;)')
    print()
    print(insert_query)

In [ ]:
def leer_sql(query, nombre_tabla, nombre_db, user='root', password='password'):
    
    db=conn.connect(host='localhost', user=user, passwd=password, database=nombre_db)
    
    data=pd.read_sql(query, db)
    
    return data

# Analysis

In [ ]:
df_final

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.plot(df_final.Date, df_final.Close)
# naming the x axis
plt.xlabel('Date')
# naming the y axis
plt.ylabel('Price')
  
# giving a title to my graph
plt.title('Bitcoin price historic')
  
# function to show the plot
plt.show()